@import 'tailwindcss';

@theme {
  --color-neon-blue: #2f00ff;
  --color-neon-blue-50: #2f00ff83;
  --color-mid-gray: rgb(74, 74, 74);
  --font-display: 'Josefin Slab', serif;
  --font-body: 'Open Sans', sans-serif;
}

@keyframes ocean {
  0% {
    color: white;
    box-shadow: inset 0 0 25px 5px black;
    background-color: white;
  }
  50% {
    color: #2f00ff;
    box-shadow: inset 0 0 25px 0px black;
    background-color: white;
  }
  100% {
    color: white;
    box-shadow: inset 0 0 25px 5px black;
    background-color: white;
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  color: #fff;
  line-height: 1.5;
}
